.drawer {
  background-color: var(--mdc-theme-surface);
  bottom: 0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  color: var(--mdc-theme-on-surface);
  left: 0;
  position: absolute;
  top: 0;
  transform: translateX(-100%);
  transition: transform 0.3s ease;
  width: 200px;

  &.open {
    transform: translateX(0);
  }

  &__content {
    padding: 20px;
  }
}
