---
import BaseLayout from "../layouts/BaseLayout.astro";
import pagesData from "../pagesData.ts";

const url = Astro.url.pathname;
const { title, description } = pagesData[url];
---

<BaseLayout description={description} title={title}>
  <h1>Fugu Demo</h1>
</BaseLayout>
