---
import BaseHead from "../components/BaseHead.astro";
import ContentWrapper from "../components/ContentWrapper.tsx";
import GamepadNavigation from "../components/GamepadNavigation.tsx";
import pagesData from "../pagesData.ts";

export interface Props {
  title?: string;
  description?: string;
  frontmatter?: Record<string, string>;
}

const {
  title = pagesData["/"].title,
  description = pagesData["/"].description,
  frontmatter,
} = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead
      title={frontmatter?.title ?? title}
      description={frontmatter?.description ?? description}
    />
    <slot name="head" />
  </head>

  <body>
    <GamepadNavigation client:only="react" />
    <ContentWrapper client:load>
      <main class="mdc-top-app-bar--fixed-adjust">
        <slot />
      </main>
    </ContentWrapper>
  </body>
</html>
